*{padding :0;margin :0;}
body
{font-family:'Times New Roman', Times, serif;
font-size: 25px;
background-image:url  ("fbiback.png");
 
}

#tot{margin: 0 auto;
width: 1500px;}






#dreapta{
       
    margin:0px 0px 0px 0px ;
    padding-left: 200px;
    padding-right: 200px;
  
    
    

    
    height: 2200px;
    width: 1000px;
    text-align: center;

}

nav{
    float: left;
    
}

.video{
    padding-left: 60px;
   
    margin: auto;
    display: inline block;}

    @media screen and (max-width: 992px) {
        .column {
          width: 50%;
        }
        div.e {
            font-size: 80px;
          }
      }
      
      /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
        div.e {
            font-size: 900px;
            padding: 300px;
            border: 8px solid black;
          }
      }
    